.about-bg {
    background-image: url(../../images/banner_bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-header {
    font-family: 'Playball', cursive;
}

.icon-width {
    width: 100px;
    height: 100px;
}