.packages-bg {
    background-image: url(../../images/banner_bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.packages-header {
    font-family: 'Playball', cursive;
}
.about-custom-button {
    width: 200px;
    text-align: center;
}