.home-package-container {
    margin-bottom: 35rem;
}

.home-package {
    background-image: url(../../../images/home_package_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-package-header {
    font-family: 'Playball', cursive;
}

/* packages images */
/* .show-package1:hover .home-package-cover {
    background: purple;
    opacity: 0.6;
    z-index: 1;
} */
.show-package1 {
    background-image: url(../../../images/birthday_party.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.show-package2 {
    background-image: url(../../../images/banner_couple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.show-package3 {
    background-image: url(../../../images/corporate_event.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* responsive */
@media only screen and (max-width: 820px) {
    .home-package-container {
        margin-bottom: 0rem;
    }
}