.organizer-header-bg {
    background-image: url(../../images/banner_bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.organizer-text-bg{
    background-image: url(../../images/black-smooth-bg.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.organizers-header {
    font-family: 'Playball', cursive;
}

.organizer-bg {
    height:330px;
}

.organizer-info {
    display: none;
    background-image: url(../../images/black-border-bg.jpg);
    background-position: full center;
    background-repeat: no-repeat;
    background-size: cover;
}

.organizer-bg:hover .organizer-info {
    display: block;
}


.organizer-bg:hover .organizer-name {
    display: none;
}

/* pagination */
.pagination button{
    background: white;
    color: black;
    padding: 5px 10px;
}
.pagination .selected {
    background: rgb(147 51 234);
    color: white;
}

/* responsive */
@media only screen and (max-width: 640px) {
}