.profile-container {
    background-image: url('https://img.freepik.com/free-vector/blank-purple-patterned-background-vector_53876-77834.jpg?w=740&t=st=1682267251~exp=1682267851~hmac=972a2c36a61c41dfcdcca183700c8dad12ff945dc9736ab4045a5ce80791d71c');
    background-size: cover;
    background-position: center;
}