.slider-title{
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgba(46, 45, 45, 0.162);
    border-radius: 16px;
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* banner img */
.banner_img {
    height: 800px;
}


/* responsive */
@media only screen and (max-width: 820px) {
    .banner_img {
        height: 600px;
    }
}
@media only screen and (max-width: 640px) {
    .banner_img {
        height: 550px;
    }
}