.upcoming-bg {
    background-image: url(../../../images/black-smooth-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.upcoming-header{
    font-family: 'Playball', cursive;
}

.upcoming-event-bg {
    background-image: url(../../../images/gray_bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Cube Animation */
.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 5s linear infinite;
}

/* animation start */
@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #9333ea);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-image: #9333ea;
    transform: rotateX(90deg) translateZ(150px);
}
.top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 1;
    background: #696969;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(162 73 246 0.2),
    0 0 200px rgba(162 73 246 0.4),
    0 0 300px rgba(162 73 246 0.6),
    0 0 400px rgba(162 73 246 0.8),
    0 0 500px rgba(162 73 246 0.1),
}

/* responsive */
@media only screen and (max-width: 640px) {
    .cube {
        width: 150px;
        height: 150px;
    }
    .top {
        width: 150px;
        height: 1500px;
    }
    .top::before {
        width: 150px;
        height: 150px;
    }
}